In [4]:
import random
import mysql.connector
import pandas as pd
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="aayush",
  database="second_year")

In [6]:
mycursor.execute("DELETE FROM maths;")

In [7]:
mycursor = mydb.cursor()
df = pd.read_excel("F:\B.TECH III SEM TR MAIN 2020.xlsx")
df = df[df["SHNAME1"]=="3CS2-01"][["ROLLNO",'NAME']].reset_index()
df['DATE'] = pd.Series([random.choice(['P','A']) for i in range(len(df))])
for i in range(len(df)):
    mycursor.execute(f"insert into maths values(\"{df.iloc[i]['ROLLNO']}\",\"{df.iloc[i]['NAME']}\",\"{df.iloc[i]['DATE']}\")")
mydb.commit()
df = pd.read_sql_query("select * from maths;", mydb)
print(df)

         Rollno               Name Attendence
0    18ETCCS001     AAYUSH DADHICH          A
1    18ETCCS002  ABHISHEK PANCHOLI          A
2    18ETCCS003         ADITI JAIN          P
3    18ETCCS004     ADNAN PIPAWALA          P
4    18ETCCS005     AKHILESH JOSHI          A
..          ...                ...        ...
96   19ETCCS202       GARIMA NAGDA          A
97   19ETCCS203     JINAL BHARDWAJ          P
98   19ETCCS204        NARESH MALI          A
99   19ETCCS205         POOJA DAVE          P
100  19ETCCS206      SIDDHESH JAIN          A

[101 rows x 3 columns]